<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.augmentedromance.augmentedromance"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Permissions for notifications -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <permission
        android:name="com.augmentedromance.augmentedromance.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.augmentedromance.augmentedromance.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="AugmentedRomance">
        <activity
            android:name=".ARActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="AugmentedRomance"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- For notifications -->
        <service
            android:name=".GcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.augmentedromance.augmentedromance" />
            </intent-filter>
        </receiver>

        <!-- For beacons -->
        <receiver android:name=".StartSDKReceiver">
            <intent-filter>
                <action android:name="com.vidinoti.vdarsdk.android.START_SDK" />
            </intent-filter>
        </receiver>

        <activity android:name=".BreadcrumbListActivity" />
        <activity
            android:name=".AuthUiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignInActivity"
            android:theme="@style/AppTheme.NoActionBar"  />
    </application>

</manifest>